[submodule "extern/gtest"]
	path = extern/gtest
	url = https://github.com/google/googletest.git
[submodule "extern/hlslib"]
	path = extern/hlslib
	url = https://github.com/definelicht/hlslib.git
[submodule "extern/argparse"]
	path = extern/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "extern/findFFTW"]
	path = extern/findFFTW
	url = https://github.com/egpbos/findFFTW.git
